*{
    margin: 0px;
    padding: 0px;
    
}
body{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: beige;
}
#container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
#carrinhoTitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:white;
}
#category{
    position:fixed;
    width: 100%;
    height: 80px;
    background-color: orange;
    flex-direction: column;
}
#cart{
    display: none;
    border-radius: 30px;
    position: relative;
    left: 1050px;
    width: 300px;
    height:500px;
    top: -20px;
    background-color:white;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
#containergeral{ 
    width: 180px;
    display: flex;
    height: 230px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 30px;
    border: 2px solid black;
    box-shadow: 0 0 10px;
}
#products{
    flex-wrap: wrap;
    display: flex;
    margin-left: 80px;
    margin-top: 100px;
    width: 1300px;
    height: 1300px;
    
}
#categories{
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 80px;
    margin: 5px;
    border-radius: 60px;
    align-items: center;
}
button{
    border: none;
    background-color: white;
}
button:hover{
    background-color: lightgrey;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 60px;
}
#imageProduct{
    margin: 20px;
    width: 120px;
    height: 100px;

    border-radius: 10px;
    transition: 1s;
}
#imageProduct:hover{
    cursor: pointer;
    opacity: 0.7;
    width: 130px;
    height: 110px;
}

#modal{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.7);
}
#detailsProduct{
    background-color: white;
    width: 600px;
    height: 600px;
    border: 3px solid black;
    flex-direction: column;
    display: flex;
    align-items: center;
}
#priceProduct{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}
#nameProduct{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 150px;
    font-weight: lighter;
}
#containerProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#containerProduct:hover{
    cursor: pointer;
    opacity: 0.6;
}
#priceInModal{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pInModal{
    margin: 13px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#close{
    color: red;
    float: right;
    position: relative;
    top: -270px;
    font-size: 90px ;
    font-weight: bold ;
}
#close:hover, #close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#botaoCompra{
    border-radius: 100px;
    margin-top: 30px;
    background-color: rgb(11, 185, 11);

    width: 350px;
    height: 50px;
    font-size: 20px;
    transition: 1s;
}
#botaoCompra:hover{
    width: 450px;
    height: 80px;
    font-size: 30px;
}
#productInCart{
    margin: 10px;
    width: 60px;
    height: 50px;
}
#productsInCart{
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#botaoExcluir{
    margin-left: 5px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    background-color: red;
    width: 70px;
    height: 30px;
    font-size: 15px;

}
#cartContainer{
    background-color: white;
    border-radius: 100px;
    margin: 5px;
    width: 265px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}
#divPrice{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imageModal{
    margin: 15px;
    width: 250px;
    height: 180px;
}
#categoryName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    margin-left: 40px;
    font-size: 27px;
}
#redirecionar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top:430px;
    width: 260px;
    height: 30px;
    font-size: 25px;
    background-color: rgb(11, 185, 11);
    border-radius: 60px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
#redirecionar:hover{
    width: 290px;
    height: 40px;
    opacity: 0.7;
    font-size: 28px;
}
#cartProductName{
    font-size: 10px;
    text-align: justify;
}
#cartContainer{
    height: 100px;
    justify-content: center;
}
#somaValor{
    margin: 10px;
    background-color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    border-radius: 60px;
}
#imgcart{
    margin-left: 100px;
    width: 30px;
    height: 30px;
}
#imgcart:hover{
    cursor: pointer;
    opacity: 0.7;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
 
::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177); 
    border-radius: 10px;
  }
  
  
::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

#contadorCarrinho{
    text-align: center;
    font-weight: bold;
    color: white;
    width: 20px;
    background-color:rgb(0, 0, 0) ;
    border-radius: 50%;
    border: 0.3 solid black;
    position: relative;
    top: -12px;
    left: 1217px;
    margin: 2px;
}
#x{
    font-weight: bold;
}